{extend name='admin@main'}

{block name='content'}
<style>

    .store-total-container {
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 1px;
    }

    .store-total-container .store-total-icon {
        top: 45%;
        right: 8%;
        font-size: 65px;
        position: absolute;
        color: rgba(255, 255, 255, 0.4);
    }

    .store-total-container .store-total-item {
        color: #fff;
        line-height: 4em;
        padding: 15px 25px;
        position: relative;
    }

    .store-total-container .store-total-item > div:nth-child(2) {
        font-size: 46px;
        line-height: 46px;
    }

    .num2 {
        font-size: 20px;
        font-weight: bold;
        line-height: 100%
    }

    .store-total-container .store-total-item > div:nth-child(2) {
        font-size: 26px;
        line-height: 36px;
        font-weight: bold;
    }

    .store-total-container .store-total-item {
        line-height: 2em
    }
</style>
<div class="think-box-shadow store-total-container">
    <h4 style="text-align: center">当地时间： {:date('Y-m-d H:i:s')}</h4>
    <!--<div class="margin-bottom-15">商城统计</div>-->
    <fieldset>
    <legend>商城统计</legend>
    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false"
          method="get" autocomplete="off">
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">时间</label>
            <div class="layui-input-inline">
                <input data-date id="query-date" name="date" value="{$Think.get.date|default=''}" placeholder="请选择时间"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 查 询</button>
        </div>
    </form>
</fieldset>
    <div class="layui-row layui-col-space15" id="shop_content">加载中....</div>
</div>
<div id="agent_content">
    加载中......
</div>
<script>
    $(function () {
        $.ajax({
            url: "{:url('main')}",
            data: {type: "shop", date:$('#query-date').val()},
            type: 'get',
            success: function (res) {
                $('#shop_content').html(res);
                get_agent();
            }
        });
        function get_agent()
        {
            $.ajax({
                url: "{:url('main')}",
                data: {type: "agent"},
                type: 'get',
                success: function (res) {
                    $('#agent_content').html(res);
                    $.form.reInit();
                }
            });
        }
    });
</script>
{/block}
