<!DOCTYPE html>
<html class="pixel-ratio-2 retina ios ios-13 ios-13-2-3 ios-gt-12 ios-gt-11 ios-gt-10 ios-gt-9 ios-gt-8 ios-gt-7 ios-gt-6">
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{$Think.lang.my_title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/alllang/static/css/light7.css">
    <link rel="stylesheet" href="/alllang/static/css/iconfont.css">
    <link rel="stylesheet" href="/alllang/static/css/common.css">
    <link rel="stylesheet" href="/alllang/static/css/personal.css"></head>
  
  <body style="">
    <div class="page page-current page-inited" id="personal">
      <header class="bar bar-nav fxbt">
        <a href="/index/my/index.html" class="icon icon-left pull-left"></a>
        <div class="title">{$Think.lang.my_title}</div></header>
      <div class="content scroll-wrapper">
        <a href="/index/my/headimg.html">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal1.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_head_img}</div></div>
            <div class="right-info">
              <img src="{$info.headpic}" alt="" onerror="this.src='/public/img/head.png'" class="right-avatar-icon"></div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal2.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_useranme}</div></div>
            <div class="right-info">{$info.username}</div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="javascript:;">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal3.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_tel}</div></div>
            <div class="right-info">{$info.tel}</div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="/index/my/bind_bank.html">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal4.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_bank}</div></div>
            <div class="right-info">**** **** ****</div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="/index/ctrl/edit_pwd.html">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal5.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_pass}</div></div>
            <div class="right-info"></div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="/index/ctrl/edit_deposit_pwd.html">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal5.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_pass2}</div></div>
            <div class="right-info"></div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
        <a href="/index/my/edit_address.html">
          <div class="flex-row">
            <img src="/alllang/static/picture/icon-Personal6.png" class="flex-row-left-img">
            <div class="main-content">
              <div class="main-title">{$Think.lang.my_address}</div></div>
            <div class="right-info"></div>
            <span class="icon icon-right main-right"></span>
          </div>
        </a>
      </div>
    </div>
    <script type="text/javascript" src="/alllang/static/js/jquery.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="/alllang/static/js/light7.js" charset="utf-8"></script>
    <script type="text/javascript" src="/alllang/static/js/utils.js" charset="utf-8"></script>
  </body>

</html>