/*@import 'vant/es/image-preview/style';*/
/*@import 'vant/es/notify/style';*/
/*@import 'vant/es/dialog/style';*/
/*@import 'vant/es/toast/style';*/

body {
    margin: 0 auto;
    width: 100%;
    max-width: 750PX;
    font-size: 14px;
    background-color: #f7f8fb;
    box-sizing: border-box;
    color: var(--default-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI, Arial, Roboto, 'PingFang SC', miui, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
}

@media screen and (min-width: 750px) and (max-width: 991px) {
    body {
        max-width: 414PX !important;
    }
}

@media screen and (min-width: 992px) {
    body {
        max-width: 100% !important;
        background-color: #f8fafc;
    }
}

body {
    --bg-color: #fff;
    --bg-second-color: #3d3d3d;
    --default-color: #2a2a2a;
    --main-color: #ad4f37;
    --second-color: #faeeec;
    --gray-color: #f7f8fa;
    --gray-color2: #a7aebf;
    --gray-color3: #16171d;
    --text-second: #494d58;
    --gray-light-color: #a2a2a2;
    --green-color: #00b25e;
    --purple-color: #4c4aef;
    --red-color: #e36564;
    --yellow-color: #d5b586;
}

html {
    box-sizing: border-box;
    line-height: 1.5;
}

.van-toast {
    width: 180px !important;
}
