{notempty name='bk_info'}
{volist name='bk_info' id='vo'}
<form class="layui-form layui-card" action="{:request()->url()}" data-auto="true" method="post" autocomplete="off">
    <div class="layui-card-body">
        <p class="help-block" style="text-align: center">只有部分信息能用到 酌情修改</p>
        <div class="layui-form-item">
            <label class="layui-form-label">开户人</label>
            <div class="layui-input-block">
                <input name="username" placeholder="请输入开户人" value="{$vo.username}" class="layui-input">
                <input type="hidden" name="_csrf_" value="{:systoken('edit_users_bk')}">
                <input type="hidden" name="id" value="{$vo.id}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">开户银行</label>
            <div class="layui-input-block">
                <input name="bankname" required value="{$vo.bankname}" placeholder="请输入开户银行" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">银行代码</label>
            <div class="layui-input-block">
                <input name="bank_code" required value="{$vo.bank_code}" placeholder="银行代码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">开户电话</label>
            <div class="layui-input-block">
                <input name="tel" required value="{$vo.tel}" placeholder="请输入手机号码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label label-required">银行卡号</label>
            <div class="layui-input-block">
                <input name="cardnum" required value="{$vo.cardnum}" placeholder="请输入银行卡号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支行代码</label>
            <div class="layui-input-block">
                <input name="bank_branch" value="{$vo.bank_branch}" placeholder="支行代码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">开户地址</label>
            <div class="layui-input-block">
                <input name="site" value="{$vo.site}" placeholder="请输入开户地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">IFSC/CPF</label>
            <div class="layui-input-block">
                <input name="document_id" value="{$vo.document_id}" placeholder="IFSC" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数字账户</label>
            <div class="layui-input-block">
                <input name="account_digit" value="{$vo.account_digit}" placeholder="数字账户" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">钱包手机号</label>
            <div class="layui-input-block">
                <input name="wallet_tel" value="{$vo.wallet_tel}" placeholder="钱包手机号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">钱包账号</label>
            <div class="layui-input-block">
                <input name="wallet_document_id" value="{$vo.wallet_document_id}" placeholder="钱包账号" class="layui-input">
            </div>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>提交</button>
        <button class="layui-btn layui-btn-danger" type='button' data-close>取消</button>
    </div>
    <script>window.form.render();</script>
</form>
{/volist}
{/notempty}

